/*Fonts */
.btn-default {
  width: 210px;
  height: 50px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  background-color: #b88b58;
  border: none;
}

.btn-default:hover {
  color: #000;
  background-color: #b88b58;
}

.btn-rounded {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-color: #b88b58;
}

.phone-shadow {
  box-shadow: 0 3px 8px rgba(0, 0, 1, 0.24);
}

.phone {
  position: absolute;
  left: 108%;
  top: 181%;
}

.phone i {
  font-size: 36px;
  color: #fff;
}

.phone i:hover {
  color: #000;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: none;
  border: 2px solid #b88b58;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.dot:hover {
  background-color: #b88b58;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
}

.title {
  text-transform: uppercase;
}

.title h3 {
  font-size: 30px;
  font-weight: 700;
}

.title p {
  font-size: 14px;
  font-weight: 700;
  color: #aeaeae;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.dark-bg {
  background-color: #000;
}

.light-bg {
  background-color: #f7f7f7;
}

/****** Header *******/
.navbar-header {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-header .nav-item {
  line-height: 90px;
}

.navbar-header .nav-item a {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 5px solid #000;
  transition: 0.25s;
}

.navbar-header .nav-item a:hover {
  border-bottom: 5px solid #b88b58;
}

.header {
  background-image: url("../images/bg_img.png");
  background-position: center;
  background-size: cover;
  height: 850px;
  position: relative;
}

.welcome h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
}

.welcome h1 span {
  color: #b88b58;
}

.welcome h4 {
  color: #fff;
  font-weight: 700;
}

.pagination-dots {
  position: absolute;
  left: 47%;
  top: 505px;
}

/***** About us *****/
.p-aboutus {
  font-size: 14px;
  color: #242424;
  font-weight: 500;
}

.aboutus img {
  cursor: pointer;
}

/***** Services *****/
.services .title h3 {
  color: #fff;
}

.list-services div {
  border-left: 2px solid #464545;
}

.list-services div:last-child {
  border-right: 2px solid #464545;
}

.list-services div h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.list-services div p {
  font-size: 12px;
  color: #7e7e7e;
}

/***** Projects *****/
.projects nav {
  background-color: #ededed;
  width: 70%;
  height: 60px;
  border: 1px solid #aeaeae;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.projects nav:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.projects nav:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.projects nav a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  height: 58px;
  line-height: 45px;
  border-bottom: 3px solid #ededed;
  transition: .25s;
  text-align: center;
}

.projects nav a:hover {
  border-bottom: 3px solid #b88b58;
}

.projects img {
  position: relative;
}

.projects .layer {
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 0;
  left: 15px;
  width: 255px;
  height: 165px;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  z-index: 1;
  opacity: 0;
}

.projects .layer:hover {
  opacity: 1;
}

.projects .layer p {
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */